In [31]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

US Consumption Data

In [3]:
US_Meat_Consumption_Data = "../ETL Project/MeatConsumption.csv"


ConsumptionDF = pd.read_csv(US_Meat_Consumption_Data)

In [4]:
ConsumptionDF

      LOCATION SUBJECT     MEASURE  TIME      Value
0          AUS    BEEF      KG_CAP  1991  27.721815
1          AUS    BEEF      KG_CAP  1992  26.199591
2          AUS    BEEF      KG_CAP  1993  26.169094
3          AUS    BEEF      KG_CAP  1994  25.456134
4          AUS    BEEF      KG_CAP  1995  25.340226
...        ...     ...         ...   ...        ...
13755      MYS   SHEEP  THND_TONNE  2022  44.154151
13756      MYS   SHEEP  THND_TONNE  2023  44.897588
13757      MYS   SHEEP  THND_TONNE  2024  45.612107
13758      MYS   SHEEP  THND_TONNE  2025  46.325312
13759      MYS   SHEEP  THND_TONNE  2026  47.047207

[13760 rows x 5 columns]

In [5]:
(ConsumptionDF["LOCATION"] == "USA") & (ConsumptionDF["SUBJECT"] == "BEEF") & (ConsumptionDF["MEASURE"] == "KG_CAP")

0        False
1        False
2        False
3        False
4        False
         ...
13755    False
13756    False
13757    False
13758    False
13759    False
Length: 13760, dtype: bool

In [6]:
FilteredDF = ConsumptionDF.loc[(ConsumptionDF["LOCATION"] == "USA") & (ConsumptionDF["SUBJECT"] == "BEEF") & (ConsumptionDF["MEASURE"] == "KG_CAP")].reset_index()
FilteredDF

    index LOCATION SUBJECT MEASURE  TIME      Value
0    1032      USA    BEEF  KG_CAP  1990  30.584395
1    1033      USA    BEEF  KG_CAP  1991  30.361122
2    1034      USA    BEEF  KG_CAP  1992  30.251431
3    1035      USA    BEEF  KG_CAP  1993  29.605494
4    1036      USA    BEEF  KG_CAP  1994  30.646740
5    1037      USA    BEEF  KG_CAP  1995  30.826711
6    1038      USA    BEEF  KG_CAP  1996  30.918110
7    1039      USA    BEEF  KG_CAP  1997  30.250447
8    1040      USA    BEEF  KG_CAP  1998  30.679778
9    1041      USA    BEEF  KG_CAP  1999  31.031563
10   1042      USA    BEEF  KG_CAP  2000  31.131446
11   1043      USA    BEEF  KG_CAP  2001  30.468646
12   1044      USA    BEEF  KG_CAP  2002  31.137770
13   1045      USA    BEEF  KG_CAP  2003  29.893332
14   1046      USA    BEEF  KG_CAP  2004  30.460498
15   1047      USA    BEEF  KG_CAP  2005  30.196487
16   1048      USA    BEEF  KG_CAP  2006  30.336672
17   1049      USA    BEEF  KG_CAP  2007  30.059727
18   1050      USA    BEEF  KG_CAP  2008  28.871279
19   1051      USA    BEEF  KG_CAP  2009  28.199840
20   1052      USA    BEEF  KG_CAP  2010  27.561876
21   1053      USA    BEEF  KG_CAP  2011  26.452239
22   1054      USA    BEEF  KG_CAP  2012  26.271460
23   1055      USA    BEEF  KG_CAP  2013  25.767339
24   1056      USA    BEEF  KG_CAP  2014  24.817646
25   1057      USA    BEEF  KG_CAP  2015  24.811422
26   1058      USA    BEEF  KG_CAP  2016  25.622447
27   1059      USA    BEEF  KG_CAP  2017  25.823286
28   1060      USA    BEEF  KG_CAP  2018  26.280193
29   1061      USA    BEEF  KG_CAP  2019  26.216184
30   1062      USA    BEEF  KG_CAP  2020  26.133426
31   1063      USA    BEEF  KG_CAP  2021  25.982482
32   1064      USA    BEEF  KG_CAP  2022  25.864575
33   1065      USA    BEEF  KG_CAP  2023  25.881893
34   1066      USA    BEEF  KG_CAP  2024  25.830139
35   1067      USA    BEEF  KG_CAP  2025  25.842843
36   1068      USA    BEEF  KG_CAP  2026  25.850864

In [7]:
USA_DF = ConsumptionDF[(ConsumptionDF["LOCATION"] == "USA") & (ConsumptionDF["SUBJECT"] == "BEEF") & (ConsumptionDF["MEASURE"] == "KG_CAP")]
USA_DF

     LOCATION SUBJECT MEASURE  TIME      Value
1032      USA    BEEF  KG_CAP  1990  30.584395
1033      USA    BEEF  KG_CAP  1991  30.361122
1034      USA    BEEF  KG_CAP  1992  30.251431
1035      USA    BEEF  KG_CAP  1993  29.605494
1036      USA    BEEF  KG_CAP  1994  30.646740
1037      USA    BEEF  KG_CAP  1995  30.826711
1038      USA    BEEF  KG_CAP  1996  30.918110
1039      USA    BEEF  KG_CAP  1997  30.250447
1040      USA    BEEF  KG_CAP  1998  30.679778
1041      USA    BEEF  KG_CAP  1999  31.031563
1042      USA    BEEF  KG_CAP  2000  31.131446
1043      USA    BEEF  KG_CAP  2001  30.468646
1044      USA    BEEF  KG_CAP  2002  31.137770
1045      USA    BEEF  KG_CAP  2003  29.893332
1046      USA    BEEF  KG_CAP  2004  30.460498
1047      USA    BEEF  KG_CAP  2005  30.196487
1048      USA    BEEF  KG_CAP  2006  30.336672
1049      USA    BEEF  KG_CAP  2007  30.059727
1050      USA    BEEF  KG_CAP  2008  28.871279
1051      USA    BEEF  KG_CAP  2009  28.199840
1052      USA    BEEF  KG_CAP  2010  27.561876
1053      USA    BEEF  KG_CAP  2011  26.452239
1054      USA    BEEF  KG_CAP  2012  26.271460
1055      USA    BEEF  KG_CAP  2013  25.767339
1056      USA    BEEF  KG_CAP  2014  24.817646
1057      USA    BEEF  KG_CAP  2015  24.811422
1058      USA    BEEF  KG_CAP  2016  25.622447
1059      USA    BEEF  KG_CAP  2017  25.823286
1060      USA    BEEF  KG_CAP  2018  26.280193
1061      USA    BEEF  KG_CAP  2019  26.216184
1062      USA    BEEF  KG_CAP  2020  26.133426
1063      USA    BEEF  KG_CAP  2021  25.982482
1064      USA    BEEF  KG_CAP  2022  25.864575
1065      USA    BEEF  KG_CAP  2023  25.881893
1066      USA    BEEF  KG_CAP  2024  25.830139
1067      USA    BEEF  KG_CAP  2025  25.842843
1068      USA    BEEF  KG_CAP  2026  25.850864

In [8]:
Final_Consumption_DF = USA_DF[(USA_DF["TIME"]>1999) & (USA_DF["TIME"]<2022)]
Final_Consumption_DF

     LOCATION SUBJECT MEASURE  TIME      Value
1042      USA    BEEF  KG_CAP  2000  31.131446
1043      USA    BEEF  KG_CAP  2001  30.468646
1044      USA    BEEF  KG_CAP  2002  31.137770
1045      USA    BEEF  KG_CAP  2003  29.893332
1046      USA    BEEF  KG_CAP  2004  30.460498
1047      USA    BEEF  KG_CAP  2005  30.196487
1048      USA    BEEF  KG_CAP  2006  30.336672
1049      USA    BEEF  KG_CAP  2007  30.059727
1050      USA    BEEF  KG_CAP  2008  28.871279
1051      USA    BEEF  KG_CAP  2009  28.199840
1052      USA    BEEF  KG_CAP  2010  27.561876
1053      USA    BEEF  KG_CAP  2011  26.452239
1054      USA    BEEF  KG_CAP  2012  26.271460
1055      USA    BEEF  KG_CAP  2013  25.767339
1056      USA    BEEF  KG_CAP  2014  24.817646
1057      USA    BEEF  KG_CAP  2015  24.811422
1058      USA    BEEF  KG_CAP  2016  25.622447
1059      USA    BEEF  KG_CAP  2017  25.823286
1060      USA    BEEF  KG_CAP  2018  26.280193
1061      USA    BEEF  KG_CAP  2019  26.216184
1062      USA    BEEF  KG_CAP  2020  26.133426
1063      USA    BEEF  KG_CAP  2021  25.982482

In [9]:
Final_Consumption_DF.rename(columns={
    "TIME": "Date",
    "LOCATION": "Location",
    "SUBJECT": "Subject",
    "MEASURE": "Measure",
    "Value": "Beef Intake (kg/cap)"
    }, inplace=True)
Final_Consumption_DF.reset_index(drop=True).round(2)

/Users/kylethomasmataloni/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

   Location Subject Measure  Date  Beef Intake (kg/cap)
0       USA    BEEF  KG_CAP  2000                 31.13
1       USA    BEEF  KG_CAP  2001                 30.47
2       USA    BEEF  KG_CAP  2002                 31.14
3       USA    BEEF  KG_CAP  2003                 29.89
4       USA    BEEF  KG_CAP  2004                 30.46
5       USA    BEEF  KG_CAP  2005                 30.20
6       USA    BEEF  KG_CAP  2006                 30.34
7       USA    BEEF  KG_CAP  2007                 30.06
8       USA    BEEF  KG_CAP  2008                 28.87
9       USA    BEEF  KG_CAP  2009                 28.20
10      USA    BEEF  KG_CAP  2010                 27.56
11      USA    BEEF  KG_CAP  2011                 26.45
12      USA    BEEF  KG_CAP  2012                 26.27
13      USA    BEEF  KG_CAP  2013                 25.77
14      USA    BEEF  KG_CAP  2014                 24.82
15      USA    BEEF  KG_CAP  2015                 24.81
16      USA    BEEF  KG_CAP  2016                 25.62
17      USA    BEEF  KG_CAP  2017                 25.82
18      USA    BEEF  KG_CAP  2018                 26.28
19      USA    BEEF  KG_CAP  2019                 26.22
20      USA    BEEF  KG_CAP  2020                 26.13
21      USA    BEEF  KG_CAP  2021                 25.98

In [10]:
#USA_DF.to_csv("../ETL Project/USAMeatPrice.csv", index = False, header = True )

#### World Wholesale Meat Prices

In [11]:
World_Wholesale_Meat_Prices = "../ETL Project/WholesalePrices.csv"

PricesDF = pd.read_csv(World_Wholesale_Meat_Prices)

In [12]:
PricesDF

,Unnamed: 0,"Beef, Central U.S.",Unnamed: 2,Unnamed: 3,Unnamed: 4,"Pork, Central U.S.",Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Turkeys,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,"Eggs, Grade A, large",Unnamed: 24
0,NaN,Boxed beef cutout,NaN,"Boneless beef, 90 percent, fresh","Imported boneless beef, 90%, frozen",Pork cutout composite,"Loins, 14-19 lb BI 1/4"" trim","Bellies, 10-12 lb skin on trmd.","Hams, 20-23 lb BI trmd. TS1","Trimmings, 72 percent, fresh",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combined regional,New York
1,NaN,"Choice 1-3, 600 - 900 lbs.","Select 1-3, 600 - 900 lbs.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Breast, Ribs on","Legs, whole",Leg quarters,"Hens, 8-16 lb","Toms, 16-24 lb","Breast, 4-8 lb",Drumsticks,"Wings, full cut",NaN,NaN
2,Period,Dollar/cwt,Dollar/cwt,Dollar/cwt,Dollar/cwt,Dollar/cwt,Dollar/cwt,Dollar/cwt,Dollar/cwt,Dollar/cwt,...,Cents/lb,Cents/lb,Cents/lb,Cents/lb,Cents/lb,Cents/lb,Cents/lb,Cents/lb,Cents/doz,Cents/doz
3,Jan-00,114.74,106.09,102.16,95.03,57.65,99.29,80.45,45.91,36.81,...,63.70,31.03,18.55,61.58,60.08,104.41,24.97,28.34,68.13,62.15
4,Feb-00,112.59,106.88,103.96,96.09,61.43,110.66,82.40,45.43,39.19,...,67.33,31.83,19.33,61.84,58.50,99.84,19.77,22.96,71.39,67.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Jan-21,216.73,205.94,217.25,230.88,80.31,88.61,144.35,62.07,79.97,...,107.56,39.25,28.78,108.76,108.21,128.78,90.55,74.65,93.85,109.74
256,Feb-21,236.49,224.60,226.26,239.50,88.34,90.84,154.48,70.62,86.70,...,108.29,44.83,33.50,109.66,109.42,131.01,96.19,73.49,127.62,131.74
257,Mar-21,231.23,222.33,230.73,237.06,101.25,103.36,0,73.25,116.97,...,112.97,49.36,37.94,111.99,110.35,138.28,95.81,73.86,135.38,141.92
258,Apr-21,271.67,262.92,236.46,253.31,111.17,108.46,0,86.90,124.79,...,120.92,58.70,42.74,113.55,112.68,140.91,97.34,78.22,105.91,102.55
259,May-21,317.59,296.31,252.27,270.13,117.46,126.13,185.04,82.07,128.31,...,124.60,61.98,43.99,118.15,117.10,139.81,110.73,94.69,84.82,91.05

In [13]:
PricesDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            258 non-null    object
 1   Beef, Central U.S.    260 non-null    object
 2   Unnamed: 2            259 non-null    object
 3   Unnamed: 3            259 non-null    object
 4   Unnamed: 4            259 non-null    object
 5   Pork, Central U.S.    259 non-null    object
 6   Unnamed: 6            259 non-null    object
 7   Unnamed: 7            259 non-null    object
 8   Unnamed: 8            258 non-null    object
 9   Unnamed: 9            259 non-null    object
 10  Lamb, East Coast      259 non-null    object
 11  Broilers              259 non-null    object
 12  Unnamed: 12           258 non-null    object
 13  Unnamed: 13           259 non-null    object
 14  Unnamed: 14           260 non-null    object
 15  Unnamed: 15           259 non-null    object
 16  Unnamed: 16           259 non-null    object
 17  Unnamed: 17           259 non-null    object
 18  Turkeys               259 non-null    object
 19  Unnamed: 19           259 non-null    object
 20  Unnamed: 20           258 non-null    object
 21  Unnamed: 21           259 non-null    object
 22  Unnamed: 22           259 non-null    object
 23  Eggs, Grade A, large  259 non-null    object
 24  Unnamed: 24           259 non-null    object
dtypes: object(25)
memory usage: 50.9+ KB

In [14]:
#Rename first 5 columns
PricesDF.rename(columns={
    "Unnamed: 0": "Date",
    "Beef, Central U.S.": "Select Boxed Beef",
    "Unnamed: 2": "Choice Boxed Beef",
    "Unnamed: 3": "Boneless Beef",
    "Unnamed: 4": "Imported Boneless Beef"
    }, inplace=True)
PricesDF.head()

,Date,Select Boxed Beef,Choice Boxed Beef,Boneless Beef,Imported Boneless Beef,"Pork, Central U.S.",Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Turkeys,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,"Eggs, Grade A, large",Unnamed: 24
0,NaN,Boxed beef cutout,NaN,"Boneless beef, 90 percent, fresh","Imported boneless beef, 90%, frozen",Pork cutout composite,"Loins, 14-19 lb BI 1/4"" trim","Bellies, 10-12 lb skin on trmd.","Hams, 20-23 lb BI trmd. TS1","Trimmings, 72 percent, fresh",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Combined regional,New York
1,NaN,"Choice 1-3, 600 - 900 lbs.","Select 1-3, 600 - 900 lbs.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Breast, Ribs on","Legs, whole",Leg quarters,"Hens, 8-16 lb","Toms, 16-24 lb","Breast, 4-8 lb",Drumsticks,"Wings, full cut",NaN,NaN
2,Period,Dollar/cwt,Dollar/cwt,Dollar/cwt,Dollar/cwt,Dollar/cwt,Dollar/cwt,Dollar/cwt,Dollar/cwt,Dollar/cwt,...,Cents/lb,Cents/lb,Cents/lb,Cents/lb,Cents/lb,Cents/lb,Cents/lb,Cents/lb,Cents/doz,Cents/doz
3,Jan-00,114.74,106.09,102.16,95.03,57.65,99.29,80.45,45.91,36.81,...,63.70,31.03,18.55,61.58,60.08,104.41,24.97,28.34,68.13,62.15
4,Feb-00,112.59,106.88,103.96,96.09,61.43,110.66,82.40,45.43,39.19,...,67.33,31.83,19.33,61.84,58.50,99.84,19.77,22.96,71.39,67.05

In [15]:
#Remove headers from DF - only keep column names
NewPricesDF = PricesDF.iloc[3:]
NewPricesDF

,Date,Select Boxed Beef,Choice Boxed Beef,Boneless Beef,Imported Boneless Beef,"Pork, Central U.S.",Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Turkeys,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,"Eggs, Grade A, large",Unnamed: 24
3,Jan-00,114.74,106.09,102.16,95.03,57.65,99.29,80.45,45.91,36.81,...,63.70,31.03,18.55,61.58,60.08,104.41,24.97,28.34,68.13,62.15
4,Feb-00,112.59,106.88,103.96,96.09,61.43,110.66,82.40,45.43,39.19,...,67.33,31.83,19.33,61.84,58.50,99.84,19.77,22.96,71.39,67.05
5,Mar-00,118.42,112.56,109.22,98.35,63.62,110.06,85.00,46.44,43.51,...,72.25,31.21,18.48,65.35,61.87,101.48,24.35,20.73,64.70,60.67
6,Apr-00,123.45,115.40,105.93,98.16,68.92,127.48,93.70,47.18,50.26,...,73.00,32.50,20.07,67.38,63.23,104.99,23.21,19.84,73.13,68.50
7,May-00,124.88,111.19,103.73,97.18,68.49,115.38,97.85,52.11,57.87,...,70.97,34.52,21.47,69.18,64.55,104.72,23.45,19.39,58.52,53.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Jan-21,216.73,205.94,217.25,230.88,80.31,88.61,144.35,62.07,79.97,...,107.56,39.25,28.78,108.76,108.21,128.78,90.55,74.65,93.85,109.74
256,Feb-21,236.49,224.60,226.26,239.50,88.34,90.84,154.48,70.62,86.70,...,108.29,44.83,33.50,109.66,109.42,131.01,96.19,73.49,127.62,131.74
257,Mar-21,231.23,222.33,230.73,237.06,101.25,103.36,0,73.25,116.97,...,112.97,49.36,37.94,111.99,110.35,138.28,95.81,73.86,135.38,141.92
258,Apr-21,271.67,262.92,236.46,253.31,111.17,108.46,0,86.90,124.79,...,120.92,58.70,42.74,113.55,112.68,140.91,97.34,78.22,105.91,102.55
259,May-21,317.59,296.31,252.27,270.13,117.46,126.13,185.04,82.07,128.31,...,124.60,61.98,43.99,118.15,117.10,139.81,110.73,94.69,84.82,91.05

In [16]:
#Take only the first 5 columns, with all rows
NewPricesDF2 = NewPricesDF.iloc[:,:5]
NewPricesDF2

,Date,Select Boxed Beef,Choice Boxed Beef,Boneless Beef,Imported Boneless Beef
3,Jan-00,114.74,106.09,102.16,95.03
4,Feb-00,112.59,106.88,103.96,96.09
5,Mar-00,118.42,112.56,109.22,98.35
6,Apr-00,123.45,115.40,105.93,98.16
7,May-00,124.88,111.19,103.73,97.18
...,...,...,...,...,...
255,Jan-21,216.73,205.94,217.25,230.88
256,Feb-21,236.49,224.60,226.26,239.50
257,Mar-21,231.23,222.33,230.73,237.06
258,Apr-21,271.67,262.92,236.46,253.31
259,May-21,317.59,296.31,252.27,270.13

In [17]:
NewPricesDF2

,Date,Select Boxed Beef,Choice Boxed Beef,Boneless Beef,Imported Boneless Beef
3,Jan-00,114.74,106.09,102.16,95.03
4,Feb-00,112.59,106.88,103.96,96.09
5,Mar-00,118.42,112.56,109.22,98.35
6,Apr-00,123.45,115.40,105.93,98.16
7,May-00,124.88,111.19,103.73,97.18
...,...,...,...,...,...
255,Jan-21,216.73,205.94,217.25,230.88
256,Feb-21,236.49,224.60,226.26,239.50
257,Mar-21,231.23,222.33,230.73,237.06
258,Apr-21,271.67,262.92,236.46,253.31
259,May-21,317.59,296.31,252.27,270.13

In [18]:
NewPricesDF3 = NewPricesDF2.copy()

In [19]:
#Re-cast as a date
NewPricesDF3["Date"] = pd.to_datetime(NewPricesDF3["Date"], format = "%b-%y")
NewPricesDF3

,Date,Select Boxed Beef,Choice Boxed Beef,Boneless Beef,Imported Boneless Beef
3,2000-01-01,114.74,106.09,102.16,95.03
4,2000-02-01,112.59,106.88,103.96,96.09
5,2000-03-01,118.42,112.56,109.22,98.35
6,2000-04-01,123.45,115.40,105.93,98.16
7,2000-05-01,124.88,111.19,103.73,97.18
...,...,...,...,...,...
255,2021-01-01,216.73,205.94,217.25,230.88
256,2021-02-01,236.49,224.60,226.26,239.50
257,2021-03-01,231.23,222.33,230.73,237.06
258,2021-04-01,271.67,262.92,236.46,253.31
259,2021-05-01,317.59,296.31,252.27,270.13

In [20]:
#Re-cast remaining columns as floats
NewPricesDF3 = NewPricesDF3.astype({
    "Select Boxed Beef": "float", 
    "Choice Boxed Beef": "float",
    "Boneless Beef": "float",
    "Imported Boneless Beef": "float"
})
NewPricesDF3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 3 to 259
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    257 non-null    datetime64[ns]
 1   Select Boxed Beef       257 non-null    float64
 2   Choice Boxed Beef       257 non-null    float64
 3   Boneless Beef           257 non-null    float64
 4   Imported Boneless Beef  257 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 10.2 KB

In [21]:
PricesByYear = NewPricesDF3.groupby([NewPricesDF3["Date"].dt.year]).mean()
PricesByYear

,Select Boxed Beef,Choice Boxed Beef,Boneless Beef,Imported Boneless Beef
Date,,,,
2000,117.512500,108.833333,102.770833,95.440000
2001,122.613333,114.418333,114.042500,104.498333
2002,114.417500,107.664167,110.452500,106.875833
2003,143.578333,130.070000,115.213333,103.633333
2004,140.743333,132.391667,137.291667,132.395000
2005,145.783333,136.358333,141.910833,133.999167
2006,146.824167,132.560000,131.343333,132.226667
2007,149.803333,140.091667,137.697500,131.298333
2008,153.170000,147.675000,154.485833,156.375000
2009,140.770000,135.697500,136.443333,133.681667
2010,156.913333,150.988333,130.699167,137.946667
2011,181.292500,173.307500,187.523333,182.266667
2012,190.675000,180.449167,212.405833,192.008333
2013,195.636667,185.698333,203.768333,200.834167
2014,239.208333,231.013333,268.855000,247.955000
2015,237.475833,230.238333,271.745833,230.445000
2016,206.684167,196.147500,207.655000,205.415000
2017,209.738333,198.215833,219.127500,217.902500
2018,214.055833,202.645000,209.958333,204.027500
2019,222.856667,206.673333,221.311667,234.215000
2020,236.359167,224.071667,232.677500,229.768333
2021,254.742000,242.420000,232.594000,246.176000

In [22]:
PricesByYear["Avg"] = PricesByYear[["Select Boxed Beef", "Choice Boxed Beef", "Boneless Beef", "Imported Boneless Beef"]].mean(axis=1)
PricesByYear

,Select Boxed Beef,Choice Boxed Beef,Boneless Beef,Imported Boneless Beef,Avg
Date,,,,,
2000,117.512500,108.833333,102.770833,95.440000,106.139167
2001,122.613333,114.418333,114.042500,104.498333,113.893125
2002,114.417500,107.664167,110.452500,106.875833,109.852500
2003,143.578333,130.070000,115.213333,103.633333,123.123750
2004,140.743333,132.391667,137.291667,132.395000,135.705417
2005,145.783333,136.358333,141.910833,133.999167,139.512917
2006,146.824167,132.560000,131.343333,132.226667,135.738542
2007,149.803333,140.091667,137.697500,131.298333,139.722708
2008,153.170000,147.675000,154.485833,156.375000,152.926458
2009,140.770000,135.697500,136.443333,133.681667,136.648125
2010,156.913333,150.988333,130.699167,137.946667,144.136875
2011,181.292500,173.307500,187.523333,182.266667,181.097500
2012,190.675000,180.449167,212.405833,192.008333,193.884583
2013,195.636667,185.698333,203.768333,200.834167,196.484375
2014,239.208333,231.013333,268.855000,247.955000,246.757917
2015,237.475833,230.238333,271.745833,230.445000,242.476250
2016,206.684167,196.147500,207.655000,205.415000,203.975417
2017,209.738333,198.215833,219.127500,217.902500,211.246042
2018,214.055833,202.645000,209.958333,204.027500,207.671667
2019,222.856667,206.673333,221.311667,234.215000,221.264167
2020,236.359167,224.071667,232.677500,229.768333,230.719167
2021,254.742000,242.420000,232.594000,246.176000,243.983000

In [23]:
NewDf = pd.DataFrame(PricesByYear["Avg"]).round(2)
NewDf

         Avg
Date
2000  106.14
2001  113.89
2002  109.85
2003  123.12
2004  135.71
2005  139.51
2006  135.74
2007  139.72
2008  152.93
2009  136.65
2010  144.14
2011  181.10
2012  193.88
2013  196.48
2014  246.76
2015  242.48
2016  203.98
2017  211.25
2018  207.67
2019  221.26
2020  230.72
2021  243.98

In [24]:
Final_Consumption_DF2 = Final_Consumption_DF.reset_index(drop=True).round(2)
Final_Consumption_DF2

   Location Subject Measure  Date  Beef Intake (kg/cap)
0       USA    BEEF  KG_CAP  2000                 31.13
1       USA    BEEF  KG_CAP  2001                 30.47
2       USA    BEEF  KG_CAP  2002                 31.14
3       USA    BEEF  KG_CAP  2003                 29.89
4       USA    BEEF  KG_CAP  2004                 30.46
5       USA    BEEF  KG_CAP  2005                 30.20
6       USA    BEEF  KG_CAP  2006                 30.34
7       USA    BEEF  KG_CAP  2007                 30.06
8       USA    BEEF  KG_CAP  2008                 28.87
9       USA    BEEF  KG_CAP  2009                 28.20
10      USA    BEEF  KG_CAP  2010                 27.56
11      USA    BEEF  KG_CAP  2011                 26.45
12      USA    BEEF  KG_CAP  2012                 26.27
13      USA    BEEF  KG_CAP  2013                 25.77
14      USA    BEEF  KG_CAP  2014                 24.82
15      USA    BEEF  KG_CAP  2015                 24.81
16      USA    BEEF  KG_CAP  2016                 25.62
17      USA    BEEF  KG_CAP  2017                 25.82
18      USA    BEEF  KG_CAP  2018                 26.28
19      USA    BEEF  KG_CAP  2019                 26.22
20      USA    BEEF  KG_CAP  2020                 26.13
21      USA    BEEF  KG_CAP  2021                 25.98

In [25]:
Final_Consumption_DF2.set_index("Date")

     Location Subject Measure  Beef Intake (kg/cap)
Date
2000      USA    BEEF  KG_CAP                 31.13
2001      USA    BEEF  KG_CAP                 30.47
2002      USA    BEEF  KG_CAP                 31.14
2003      USA    BEEF  KG_CAP                 29.89
2004      USA    BEEF  KG_CAP                 30.46
2005      USA    BEEF  KG_CAP                 30.20
2006      USA    BEEF  KG_CAP                 30.34
2007      USA    BEEF  KG_CAP                 30.06
2008      USA    BEEF  KG_CAP                 28.87
2009      USA    BEEF  KG_CAP                 28.20
2010      USA    BEEF  KG_CAP                 27.56
2011      USA    BEEF  KG_CAP                 26.45
2012      USA    BEEF  KG_CAP                 26.27
2013      USA    BEEF  KG_CAP                 25.77
2014      USA    BEEF  KG_CAP                 24.82
2015      USA    BEEF  KG_CAP                 24.81
2016      USA    BEEF  KG_CAP                 25.62
2017      USA    BEEF  KG_CAP                 25.82
2018      USA    BEEF  KG_CAP                 26.28
2019      USA    BEEF  KG_CAP                 26.22
2020      USA    BEEF  KG_CAP                 26.13
2021      USA    BEEF  KG_CAP                 25.98

In [26]:
Final_Consumption_DF3 = Final_Consumption_DF2.iloc[:,3:5].set_index("Date")
Final_Consumption_DF3

      Beef Intake (kg/cap)
Date
2000                 31.13
2001                 30.47
2002                 31.14
2003                 29.89
2004                 30.46
2005                 30.20
2006                 30.34
2007                 30.06
2008                 28.87
2009                 28.20
2010                 27.56
2011                 26.45
2012                 26.27
2013                 25.77
2014                 24.82
2015                 24.81
2016                 25.62
2017                 25.82
2018                 26.28
2019                 26.22
2020                 26.13
2021                 25.98

In [41]:
mergedDF = NewDf.merge(Final_Consumption_DF3, left_index=True, right_index=True)
mergedDF

         Avg  Beef Intake (kg/cap)
Date
2000  106.14                 31.13
2001  113.89                 30.47
2002  109.85                 31.14
2003  123.12                 29.89
2004  135.71                 30.46
2005  139.51                 30.20
2006  135.74                 30.34
2007  139.72                 30.06
2008  152.93                 28.87
2009  136.65                 28.20
2010  144.14                 27.56
2011  181.10                 26.45
2012  193.88                 26.27
2013  196.48                 25.77
2014  246.76                 24.82
2015  242.48                 24.81
2016  203.98                 25.62
2017  211.25                 25.82
2018  207.67                 26.28
2019  221.26                 26.22
2020  230.72                 26.13
2021  243.98                 25.98

In [44]:
mergedDF.rename(columns={
    "Avg": "Average Price of Beef",
    "Tons": "Beef Intake (kg/cap)"
    },inplace=True)
mergedDF

      Average Price of Beef  Beef Intake (kg/cap)
Date
2000                 106.14                 31.13
2001                 113.89                 30.47
2002                 109.85                 31.14
2003                 123.12                 29.89
2004                 135.71                 30.46
2005                 139.51                 30.20
2006                 135.74                 30.34
2007                 139.72                 30.06
2008                 152.93                 28.87
2009                 136.65                 28.20
2010                 144.14                 27.56
2011                 181.10                 26.45
2012                 193.88                 26.27
2013                 196.48                 25.77
2014                 246.76                 24.82
2015                 242.48                 24.81
2016                 203.98                 25.62
2017                 211.25                 25.82
2018                 207.67                 26.28
2019                 221.26                 26.22
2020                 230.72                 26.13
2021                 243.98                 25.98

In [ ]:
mergedDF.to_csv("../ETL Project/BeefData.csv")

In [3]:
#pip install psycopg2-binary

In [37]:
# connection_string = "postgres:kyle123@localhost:5432/Beef_Data_DB"
# engine = create_engine(f'postgresql://{connection_string}')

In [2]:
# engine.table_names()

In [1]:
# mergedDF.to_sql(name='beef_data', con=engine, if_exists='append', index=False)